.main{
	background-color: white;
	border-width: .5px;
	border-style: solid;
	border-color: black;
}
.jumbotron{
	padding-top: 15px;
	padding-bottom: 50px;
}

.navbar{
	padding-left:0%;
	padding-top:0px;
}
.navbar-brand{
	padding-left:10px;
	padding-top:0px;
}

#title{
	padding-left:30px;
	padding-top:50px;
}

#title_p{
	padding-left:30px;
}
 #title_panel{
 
 }

#map {
    height: 500px;
    width: 60%;
    display: inline-block;
}
		
#panel {
    width: 36%;
    height: 300px;
    padding: 25px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    line-height: 42px;
}
		
p {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   color: gray;
   line-height: 200%;
   
}

h1 {font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   color: black;
}

h2 {font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   color: black;
}

h4 {font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   color: black;
   text-align: center;

}


.leaflet-popup-content p {
    margin: 0.2em 0;
}


.sequence-control-container, .legend-control-container {
	background-color: rgba(255,255,255,0.8);
	padding: 10px;
	text-align: center;
	border: solid gray 1px;
}

.legend-control-container {
	height: 150px;
	width: 150px;	
}

.sequence-control-container {
	width: 18-px;
	height: 30px;
	line-height: 45px;
}

#temporal-legend {
	font-weight: bold;
	font-size: 1.5em;
}

#forward {
    float: right;
}

#reverse {
    float: left;
}
.range-slider {
    width: 200px;
}