.main{
	background-color: white;
	border-width: .5px;
	border-style: solid;
	border-color: black;
}
.jumbotron{
	padding-top: 15px;
	padding-bottom: 50px;
}

.navbar{
	padding-left:0%;
	padding-top:0px;

}

#title{
	padding-left:0%;
	padding-top:50px;
}


#map {
    height: 400px;
    width: 70%;
    display: inline-block;
}
		
		
p {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   color: gray;
}

h1 {font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   color: black;
}

h2 {font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   color: black;
}


.leaflet-popup-content p {
    margin: 0.2em 0;
}


#panel {
    width: 26%;
    padding: 5px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}

.range-slider {
    width: 40%;
}

#forward {
    float: right;
}

#reverse {
    float: left;
}