#map {
    height: 400px;
    width: 70%;
    display: inline-block;
}

#panel {
    width: 30%;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}
		
		
p {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   color: gray;
}

h1 {font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   color: black;
}

h2 {font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   color: black;
}


.leaflet-popup-content p {
    margin: 0.2em 0;
}


.range-slider {
    width: 50%;
}

#forward {
    float: right;
}

#reverse {
    float: left;
}